@model Department
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form method="post" action="/Department/SaveAdd">
 <dev>
     <label>Name</label>
     <input name="Name" id="Name" value="@Model?.Name" type="text" class="form form-control"/>
 </dev>
    <dev>
        <label>ManagerName</label>
        <input name="ManagerName" id="ManagerName" value="@Model?.ManagerName" type="text" class="form form-control" />
    </dev>
    <input type="submit" value="Create" class="btn btn-primary"/>
</form>
<a href="/Department/Index">Back To List </a>

